@import url("fonte.css");

.botao-entrar {
    color: #FFF;
    font-size: 15px;
    font-family: sofia-light;
    background: #8C62FF;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
}

.botao-entrar:hover {
    background: #4821B2;
}

.aviso-cadastro {
    text-align: center;
    font-family: sofia-light;
}

#select-sexo {
    display: block;
    margin-bottom: 20px;
}

/* Tema para a barra de carregamento do Paste */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e90f92;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}