/* Estilos dos botões da aplicação */
@import url("fonte.css");

.botao-generico {
    color: #FFF;
    font-size: 15px;
    font-family: sofia-light;
    background: #8C62FF;
    cursor: pointer;
    height: 30px;
}

.botao-generico:hover {
    background: #4821B2;
}

.botao-excluir {
    color: #FFF;
    font-size: 15px;
    font-family: sofia-light;
    background: rgba(255, 0, 0, 0.8);
    cursor: pointer;
    height: 30px;

}

.botao-excluir:hover {
    background: #B30D0B;
}