/* Estilos extras para solução de pequenos problemas de estilos gerais */

/* Organização da posição da div de título do cadastro */
.div-titulo-cadastro {
    margin-top: 0px;
}

#btnCadastra,
#btnAtualiza {
    margin-top: 10%;
    margin-left: 30%;
}

#btnDeleta {
    margin-top: 5%;
    margin-left: 0%;
}

#botao-altera-perfil {
    margin-top: 10%;
    margin-left: 30%;
}

#verificaInfosCarro {
    background: #8C99FF; 
    color: white
}

#verificaInfosCarro:disabled {
    color: #8C99FF;
    background: #dddddd;
}

.listaVazia {
    font-family: sofia-bold;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}