/* Estilos de fontes do site */
/*
    As fontes sofia-bold e sofia-light foram retiradas do site: http://fontsforweb.com =D
*/
@font-face {
    font-family: "sofia-bold";
    src: url("../fontes/sofia-bold/SOFIAPROSOFTBOLD.eot");
    src: 
        url("../fontes/sofia-bold/SOFIAPROSOFTBOLD.woff") format("woff"),
        url("../fontes/sofia-bold/SOFIAPROSOFTBOLD.ttf") format("ttf");
}

@font-face {
    font-family: "sofia-light";
    src: url("../fontes/sofia-light/9Slide03SOFIAPROSOFTLIGHT.eot");
    src:
        url("../fontes/sofia-light/9Slide03SOFIAPROSOFTLIGHT.woff") format("woff"),
        url("../fontes/sofia-light/9Slide03SOFIAPROSOFTLIGHT.ttf") format("ttf");
}