/* Estilos dos formulários do site */
@import url("fonte.css");

.caixa-formulario {
    position: relative;
    z-index: 0; /* Feito isto no z-index para o elemento ficar atrás da barra de navegação */
    background: #EFEFEF;
    max-width: 360px;
    font-family: sofia-light;
    width: 360px;
    padding: 5% 0 0;
    margin: auto
}

.caixa-formulario input {
    height: 14px;
    width: 100%;
    margin-bottom: 20px;
}

.grade-formulario {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-auto-rows: 2em;
    grid-gap: .5em;
    margin-bottom: 10px;
}

.formulario-modal label, input, text {
    display: block;
}

/* ToDo: Adicionar o @media para telas abaixo de 200px */

/* Começando a adicionar responsividade nos formulários */
/* Estas mesmas regras serão aplicadas em outros componentes para permitir 
o mínimo de responsibilidade do sistema */
@media (min-width: 200px) and (max-width: 400px) {
    .caixa-formulario {
        max-width: 200px;
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    .caixa-formulario {
        max-width: 790px;
        width: 45%;
    }
}

@media (min-width: 1101px) {
    .caixa-formulario {
        max-width: 1000px;
        width: 35%;
    }
}