/* Cabeçalho para todas as páginas do site */
@import url("fonte.css"); /* Fontes importadas para o projeto */

html {
    background-color: #EFEFEF;
}

body {
    margin: 0;
    padding: 0;
}

/* Testando a nova barra de navegação */ 
ul.barra-de-navegacao {
    font-family: sofia-bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.barra-de-navegacao li {
    float: left;
}

li a, .selecionado {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu-abaixa {
    display: inline-block;
}

.menu-abaixa-conteudo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-abaixa-conteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-abaixa-conteudo a:hover {
    background-color: #f1f1f1;
}

.menu-abaixa:hover .menu-abaixa-conteudo {
    display: block;
}

ul.barra-de-navegacao li a:hover, .menu-abaixa:hover .selecionado {
    background-color: #8C62FF;
    color: white;
}

ul.barra-de-navegacao .icon {
    display: none;
  }

/* Tema para a barra de carregamento do Paste */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e90f92;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Começando a adicionar responsividade na barra de navegação */
/* Estas mesmas regras serão aplicadas em outros componentes para permitir 
o mínimo de responsibilidade do sistema */
@media screen and (max-width: 600px) {
    
    body {
        font-size: 30px;
    }

    ul.barra-de-navegacao li:not(:first-child) {
        display: none;
    }

    ul.barra-de-navegacao .icon {
        float: right;
        display: block;
        color: #EFEFEF;
        cursor: pointer;
        height: 50px;
        font-size: 30px;
        margin: 5px;
    }

    ul.barra-de-navegacao.oculta-menu {
        position: relative;
    }
    
    ul.barra-de-navegacao.oculta-menu .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.barra-de-navegacao.oculta-menu li {
        float: none;
        display: block;
        text-align: left;
       
    }

}
