/* Estilos para serem aplicados em imagens no MauricioSelect */
.imagem-pequena {
    width: 140px;
}

.imagem-tela-principal {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;
    width: auto;
    height: auto;
    z-index: -1;
}

/* Começando a adicionar responsividade nas figuras */
/* Estas mesmas regras serão aplicadas em outros componentes para permitir 
o mínimo de responsibilidade do sistema */

/* Largura da imagem */
@media (max-width: 200px) {
    .imagem-tela-principal {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 200px) and (max-width: 400px) {
    .imagem-tela-principal {
        width: 250px;
    }
}

@media (min-width: 401px) and (max-width: 480px) {
    .imagem-tela-principal {
        width: 405px;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .imagem-tela-principal {
        width: 480px;
    }
}

/* Altura da imagem */
@media (min-height: 320) and (max-height: 480) {
    .imagem-tela-principal {
        height: 400px;
    }
}

@media (min-height: 400) and (max-height: 480) {
    .imagem-tela-principal {
        height: 400px;
    }
}

@media (min-height: 481) and (max-height: 900) {
    .imagem-tela-principal {
        height: 490;
    }
}

@media (min-height: 320) and (max-height: 480) {
    .imagem-tela-principal {
        height: 420px;
    }
}