/* Estilos para as tabelas do site */
@import url("fonte.css");

table {
    font-family: sofia-light;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: rgba(187, 135, 255, 0.2);
}

/* Estilo da tabela do usuário */
.div-tabela {
    margin-top: 3em;
}
