/* Estilos para os títulos presentes nas páginas do site */
@import url("fonte.css");

.div-titulo-pagina {
    font-family: sofia-bold;
    text-align: center;
    font-size: 2em;
    color: #8C62FF;
}

.titulo-pagina {
    color: #8C62FF;
    font-size: 2em;
    font-family: sofia-bold;
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}