/* Estilos das páginas do usuário */
/* .div-perfil {
    position: relative;
    z-index: 0; /* Feito isto no z-index para o elemento ficar atrás da barra de navegação 
    background: #EFEFEF;
    max-width: 360px;
    width: 360px;
    padding: 5% 0 0;
    margin: auto
}

.div-perfil label {
    display: block;
    margin-left: 65px; 
} */